@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transparent: #00000000;
  --white: #ffffff;
  --blue: #13A8BD;
  --black: #000000;
  --black-level-nd: #0E141C;
  --grey: #BCBCBC;
  --light-grey: #F9FCFC;
  --yellow: #F39711;
  --shadow: #00000033;
  --primary:#6FBF42;
  --secondary:#F1C82D;
  
   
}

html {
  scroll-behavior: smooth;
}
 h1{
  font-weight: 600;
  line-height: 68px;
  color: var(--color);
}
p{
  font-weight: 400;
  line-height: 28px;
  color: var(--color);
}

button { cursor: pointer; }
.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.form-input::-moz-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input::-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input::placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input:focus {
  outline: none;
  border-color: #01382E;
}
.form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #e2e8f0;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.form-textarea::-moz-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-textarea:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-textarea::-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-textarea::placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-color: #63b3ed;
}


address { font-style: normal; }


body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--radius-pill);
}


/* == HEADER == */
nav {
  height: 100px;
  width: 100%;
  background-color: var(--transparent);
  
}

.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.links {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
  padding: 13px 20px;
}


.links a.active,
.links a:hover {
  color: var(--secondary);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;

}


.menu-bar {
  padding: 5px;
}

.menu-btn {
  font-size: 28px;
  padding: 10px 20px;
  color: #F9FCFC;
  z-index: 20px;
}



/* == || Header == */
/* == || Banner == */
.banner{
  background-image: url(../../public/hero.webp);
}

/* == || Banner == */

.about a {
  width: 157px;
  height: 40px;
  background: var(--white);
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--primary);
}

.about-cards {
  position: relative;
  padding: 60px 0px 0px;
}

.about-cards h1 {
  color: var(--light-grey);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 72px */
  text-transform: uppercase;
}

.about-cards P {
  color: var(--light-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}

.about-card {
  height: 260px;
  padding: 24px;
  overflow: hidden;
  position: relative;
}

.about-card svg#ellipse {
  position: absolute;
  top: 0px;
  right: 0px;
}

.about-card .card-text {
  position: absolute;
  bottom: 24px;
  left: 14px;
}

.about-card span.icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.about-card span.icon svg {
  width: 30px;
  height: 30px;
}

.about-card .card-text h2 {
  color: var(--light-grey);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.about-card .card-text p {
  color: var(--light-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.about-card:nth-child(2) {
  background-color: #F0C72B;
}

.about-card:nth-child(3) {
  background-color: var(--black-level-nd);
}

.about-card:nth-child(4) {
  background-color: var(--primary);
}

.about-card:nth-child(5) {
  background-color: #2d3748;
}




/* == RESPONSIVE == */
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 994px) {
  nav {
    height: 120px;
  }

  .menu-btn {
    color: #ffffff;
  }

  .links {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;

    display: block;
    padding: 80px 0px 0px;
    text-align: centers;
    transition: all ease 0.5s;

    z-index: 5;
    background-color: var(--white);
    overflow: auto;
  }

  .links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100% !important;
    height: 50px;
    color: var(--black-level-nd);
    padding: 0px 50px 0px;
  }

  .links a:hover {
    background-color: var(--yellow);
    color: var(--white);
  }

  .links span {
    cursor: pointer;
  }

  .links.active {
    right: 0%;
  }

  .cancel-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-level-nd);
    font-size: 18px;
    position: absolute;
    top: 12px;
    right: 20px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .links {
    padding: 0px 20px;
    display: block;
    display: flex;
    align-items: center !important;
    justify-content: center;
  }

  nav {
    background: var(--transparent);
  }

  .menu-btn {
    color: var(--white);
  }


  .menu-bar {
    display: none !important;
  }

  .cancel {
    display: none;
  }
}

/* == || RESPONSIVE == */
